USE [master]
GO
/****** Object:  Database [universityDb]    Script Date: 16.03.2023 14:51:05 ******/
CREATE DATABASE [universityDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'universityDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\universityDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'universityDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\universityDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [universityDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [universityDb]
GO
/****** Object:  Table [dbo].[datGrades]    Script Date: 16.03.2023 14:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datGrades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[Exam1] [tinyint] NULL,
	[Exam2] [tinyint] NULL,
	[Exam3] [tinyint] NULL,
	[Quiz1] [tinyint] NULL,
	[Quiz2] [tinyint] NULL,
	[Project] [tinyint] NULL,
	[StudentAvg] [decimal](5, 2) NULL,
	[Lesson] [int] NULL,
	[Student] [int] NULL,
 CONSTRAINT [PK_datGrades] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datStudent]    Script Date: 16.03.2023 14:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datStudent](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentFirstName] [nvarchar](30) NULL,
	[StudentLastName] [nvarchar](20) NULL,
	[StudentNo] [char](5) NULL,
	[StudentPass] [nvarchar](10) NULL,
	[StudentMail] [nvarchar](50) NULL,
	[StudentImg] [nvarchar](100) NULL,
	[StudentDep] [int] NULL,
	[StudentStatus] [bit] NULL,
 CONSTRAINT [PK_datStudent] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datLessons]    Script Date: 16.03.2023 14:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datLessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[LessonName] [nvarchar](50) NULL,
 CONSTRAINT [PK_datLessons] PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 16.03.2023 14:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        dbo.datGrades.GradeID, dbo.datStudent.StudentFirstName, dbo.datStudent.StudentLastName, dbo.datLessons.LessonName, dbo.datGrades.Exam1, dbo.datGrades.Exam2, dbo.datGrades.Exam3, dbo.datGrades.Quiz1, 
                         dbo.datGrades.Quiz2, dbo.datGrades.Project, dbo.datGrades.StudentAvg, dbo.datGrades.Lesson
FROM            dbo.datLessons INNER JOIN
                         dbo.datGrades ON dbo.datLessons.LessonID = dbo.datGrades.Lesson INNER JOIN
                         dbo.datStudent ON dbo.datGrades.Student = dbo.datStudent.StudentID
GO
/****** Object:  Table [dbo].[datAcademician]    Script Date: 16.03.2023 14:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datAcademician](
	[AcID] [int] IDENTITY(1,1) NOT NULL,
	[AcFirstName] [nvarchar](30) NULL,
	[AcLastName] [nvarchar](30) NULL,
	[Title] [nvarchar](20) NULL,
	[AcNo] [char](5) NULL,
	[AcPass] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[datDepartment]    Script Date: 16.03.2023 14:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datDepartment](
	[DepID] [int] IDENTITY(1,1) NOT NULL,
	[DepName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[datDepartment] ON 

INSERT [dbo].[datDepartment] ([DepID], [DepName]) VALUES (1, N'Software Engineering')
INSERT [dbo].[datDepartment] ([DepID], [DepName]) VALUES (2, N'Industrial Engineering
')
INSERT [dbo].[datDepartment] ([DepID], [DepName]) VALUES (3, N'Mechanical Engineering
')
SET IDENTITY_INSERT [dbo].[datDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[datGrades] ON 

INSERT [dbo].[datGrades] ([GradeID], [Exam1], [Exam2], [Exam3], [Quiz1], [Quiz2], [Project], [StudentAvg], [Lesson], [Student]) VALUES (1, 100, 99, 100, 95, 80, 100, CAST(95.00 AS Decimal(5, 2)), 5, 1)
INSERT [dbo].[datGrades] ([GradeID], [Exam1], [Exam2], [Exam3], [Quiz1], [Quiz2], [Project], [StudentAvg], [Lesson], [Student]) VALUES (2, 55, 75, 48, 98, 80, 100, CAST(76.00 AS Decimal(5, 2)), 1, 2)
INSERT [dbo].[datGrades] ([GradeID], [Exam1], [Exam2], [Exam3], [Quiz1], [Quiz2], [Project], [StudentAvg], [Lesson], [Student]) VALUES (3, 45, 35, 66, 50, 50, 70, CAST(52.00 AS Decimal(5, 2)), 2, 3)
SET IDENTITY_INSERT [dbo].[datGrades] OFF
GO
SET IDENTITY_INSERT [dbo].[datLessons] ON 

INSERT [dbo].[datLessons] ([LessonID], [LessonName]) VALUES (1, N'Algorithm and Programming
')
INSERT [dbo].[datLessons] ([LessonID], [LessonName]) VALUES (2, N'Physical')
INSERT [dbo].[datLessons] ([LessonID], [LessonName]) VALUES (3, N'Engineering Mathematics
')
SET IDENTITY_INSERT [dbo].[datLessons] OFF
GO
SET IDENTITY_INSERT [dbo].[datStudent] ON 

INSERT [dbo].[datStudent] ([StudentID], [StudentFirstName], [StudentLastName], [StudentNo], [StudentPass], [StudentMail], [StudentImg], [StudentDep], [StudentStatus]) VALUES (1, N'Muhammed Ferit', N'Simsek', N'13341', N'1334', N'ferit@gmail.com', N'test', 3, 1)
INSERT [dbo].[datStudent] ([StudentID], [StudentFirstName], [StudentLastName], [StudentNo], [StudentPass], [StudentMail], [StudentImg], [StudentDep], [StudentStatus]) VALUES (2, N'Ali', N'Simsek', N'43341', N'1234', N'ali@gmail.com', N'test', 2, 1)
INSERT [dbo].[datStudent] ([StudentID], [StudentFirstName], [StudentLastName], [StudentNo], [StudentPass], [StudentMail], [StudentImg], [StudentDep], [StudentStatus]) VALUES (3, N'Tahir', N'Ucar', N'84523', N'8888', N'tahir@gmail.com', N'test', 1, 1)
SET IDENTITY_INSERT [dbo].[datStudent] OFF
GO
ALTER TABLE [dbo].[datGrades]  WITH CHECK ADD  CONSTRAINT [FK_datGrades_datLessons] FOREIGN KEY([Lesson])
REFERENCES [dbo].[datLessons] ([LessonID])
GO
ALTER TABLE [dbo].[datGrades] CHECK CONSTRAINT [FK_datGrades_datLessons]
GO
ALTER TABLE [dbo].[datGrades]  WITH CHECK ADD  CONSTRAINT [FK_datGrades_datStudent] FOREIGN KEY([Student])
REFERENCES [dbo].[datStudent] ([StudentID])
GO
ALTER TABLE [dbo].[datGrades] CHECK CONSTRAINT [FK_datGrades_datStudent]
GO
ALTER TABLE [dbo].[datStudent]  WITH CHECK ADD  CONSTRAINT [FK_datStudent_datDepartment] FOREIGN KEY([StudentDep])
REFERENCES [dbo].[datDepartment] ([DepID])
GO
ALTER TABLE [dbo].[datStudent] CHECK CONSTRAINT [FK_datStudent_datDepartment]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "datLessons"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 102
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "datGrades"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 220
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "datStudent"
            Begin Extent = 
               Top = 6
               Left = 870
               Bottom = 136
               Right = 1054
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
USE [master]
GO
